<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <a href="https://www.facebook.com/jonah.majumder"><img src="resources/logos/facebook.svg" width="30" /></a>
        <a href="https://www.linkedin.com/in/jonah-majumder-67a643aa"><img src="resources/logos/linkedin.svg" width="30" /></a>
        <a href="https://github.com/jonahmajumder"><img src="resources/logos/github.svg" width="30" /></a>
        <p id="copyright">Copyright &copy; Jonah Majumder</p>
        <script type="text/javascript">
          var c = document.getElementById("copyright");
          var year = new Date().getFullYear();
          c.innerHTML = "Copyright &copy; " + year + " Jonah Majumder";
        </script>
      </footer>
    </main>
  </body>